.footer-Light {
    width: 100%;
    margin-bottom: 1em;
    background-color: var(--secondary);
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.Logo-MV-Consultoria {
    width: 550px;
    height: 150px;
    margin-top: 2em;
    display: flex;
    margin-left: 60px;
}

.Logo-MV-Consultoria ul {
    flex-direction: column;
    margin-left: 35px;
}

.Logo-MV-Consultoria hgroup h4 {
    padding: 10px;
    color: var(--quarter);
    margin-left: -50px;
    margin-top: -10px;
}

.Logo-MV-Consultoria hgroup h1 {
    font-size: 15pt;
    margin-left: -170px;
    margin-top: -10px;
    color: var(--sixth);
}

.hand-city-logo {
    width: 150px;
    height: 150px;
}

.footer-contacts ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    margin-top: 2em;
    border-left: 1px solid rgba(0, 0, 0, .5);
    border-right: 1px solid rgba(0, 0, 0, .5);
}

.footer-contacts li {
    font-weight: bold;
}

.social-medias {
    width: 400px;
    margin-top: 3.5em;
    text-align: center;
}

.social-medias h3 {
    font-family: 'Montserrat';
    margin-bottom: 1em;
}

.social-medias p {
    color: var(--primary);
    font-weight: bold;
}

.bi-instagram, 
.bi-facebook {
    font-size: 20pt;
    color: var(--quarter);
}

@media (max-width: 450px) {

    .footer-Light {
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        height: 15em;
    }

    .Logo-MV-Consultoria {
        display: none;
    }

    .footer-contacts {
        margin-top: 0px;
    }

    .footer-contacts h3 {
        text-transform: uppercase;
    }

    .footer-contacts ul {
        border-left: none;
        border-right: none;
    }

    .social-medias {
        margin-top: -50px;
        width: 350px;
    }

    .social-medias ul {
        display: flex;
        flex-direction: row;
        margin-top: -40px;
    }
}

@media (max-width: 950px) {

    .Logo-MV-Consultoria img {
        display: none;
    }
}