.MainLightBaner {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    box-shadow:  1px 3px 5px rgba(0, 0, 0, .4);
}

.Main-cars-baner {
    display: flex;
    margin-bottom: 2em;
}

.title-service h1 {
    display: block;
    color: var(--seventy);
    text-align: center;
}

.card-job-1 {
    margin-top: 1em;
    width: 350px;
    height: 350px;
    border: 1px solid;
    background: linear-gradient(rgba(0 , 0, 0, .6), rgba(0 , 0, 0, .5)), url('../img/house.jpg');
    background-position: center;
    background-size: cover;
    color: var(--tertiary);
}

.card-job-1 ul,
.card-job-2 ul,
.card-job-3 ul {
    list-style: square;
    display: flex;
    flex-direction: column;
}

.card-job-1 li,
.card-job-2 li,
.card-job-3 li {
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.bi-clipboard-data,
.bi-newspaper,
.bi-paperclip {
    font-size: 5em;
    margin-left: 130px;
}

.card-job-2 {
    margin-top: 1em;
    width: 350px;
    height: 350px;
    border: 1px solid;
    background: linear-gradient(rgba(0 , 0, 0, .6), rgba(0 , 0, 0, .5)), url('../img/meeting.jpg');
    background-position: center;
    background-size: cover;
    color: var(--tertiary);
}

.card-job-3 {
    margin-top: 1em;
    width: 350px;
    height: 350px;
    border: 1px solid;
    background: linear-gradient(rgba(0 , 0, 0, .6), rgba(0 , 0, 0, .5)), url('../img/justica.jpg');
    background-position: center;
    background-size: cover;
    color: var(--tertiary);
}

@media (max-width: 450px) {

    .MainLightBaner {
        flex-direction: column;
        height: 73em;
    }

    .card-job-1 ul {
        margin-top: -10px;
    }

    .title-service {
        font-size: 12pt;
    }

    .Main-cars-baner {
        flex-direction: column;
        margin-top: -20px;
    }
}

@media (max-width: 950px) {

    .card-job-1 h1,
    .card-job-2 h1, 
    .card-job-3 h1 {
        font-size: 15pt;
    }

    .bi-newspaper, 
    .bi-paperclip,
    .bi-clipboard-data {
        margin-left: 35%;
    }
}